# LaTeX outputs

*.aux
*.log  
*.nav  
*.out  
*.snm  
*.toc
*.vrb
*.pdf  


# Editor folders
**/auto/


# Editor folders
**/auto/

# Drawio backup files: 
**/*.drawio.bkp

# Minted
/_minted-defense/
/_minted-defense/*

